<h1>Discover</h1>
<h3>Need new restaurants to add your NextNoms? Check out these nearby locations.</h3>

<div id="discover-map"></div>

<div class="discover-results"></div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initDiscoverMap&libraries=places"
    async defer></script>
