<h1>Discover Local Restaurants</h1>
<h3>Looking for local restaurants to add to your NextNoms? Check out these nearby locations!</h3>

<div id="discover-map"></div>

<div class="discover-results"><br></div>

<% @restaurants.each do |r| %>
<%= content_tag :div, "", class:"exclude-r", data: {:place_id => r.place_id}  %>
<% end %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initDiscoverMap&libraries=places"
    async defer></script>
