<h1>Restaurant Roulette</h1>
<h3>Can't decide where to eat? Let Restaurant Roulette pick for you!</h3>

<% if @restaurant.nil? %>
  Please add a restaurant to your list to use this feature.
  <%= link_to "Home", root_path %>
<% else %>
   To generate a new random restaurant from your list, click the button below.<br>
   (button here)
  <hr>
  <%= content_tag :div, "", id:"r-choice", data: {:place_id => @restaurant.place_id, :tried => @tried } %>
  <div class="restaurant-info">
    <div class="roulette-name"></div>
    <div class="roulette-rest"></div>
    <div class="roulette-hours"></div>
  </div>
  <div id="r-map"></div>
<% end %>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initRouletteMap&libraries=places"
    async defer></script>
