<div class="hero">
	<div class="hero-inner">
    <span class="hero-logo"><%= image_tag "trimwhitelogo.png" %></span>
		<div class="hero-copy">
			<h1>Mapping Your Food Adventures</h1>
		</div>
	</div>
</div>
