<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"><<%= image_tag "trimwhitelogo.png" %></a>
		<div class="hero-copy">
			<h1>Mapping Your Food Adventures</h1>
			<!-- <p>A few reasons why this product is worth using, who it's for and why they need it.</p> -->
		</div>
	</div>
</div>
