<div class="hero">
	<div class="hero-inner">
    <span class="hero-logo"><%= image_tag "trimwhitelogo.png" %></span>
		<div class="hero-copy">
			<h1>Mapping Your Food Adventures</h1>
		</div>
	</div>
</div>
<br>
<div class="cards">
  <div class="card">
    <div class="card-image">
      <%= image_tag "pinsonmap.png" %>
    </div>
    <div class="card-header">
      My NextNoms
    </div>
    <div class="card-copy">
      <p>
        NextNoms is designed to help you keep track of your restaurant reccommendations and bucket list items. Easily visualize where you've eaten and where to eat next with custom map markers and filtered lists.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag "paella.jpeg" %>
    </div>
    <div class="card-header">
      Restaurant Roulette
    </div>
    <div class="card-copy">
      <p>Can't decide where to eat? Let Restaurant Roulette pick for you! The Roulette tool will return a random restaurant from your NextNoms. Make each new meal an adventure!</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <%= image_tag "sunnytable.jpeg" %>
    </div>
    <div class="card-header">
      Discover Local Restaurants
    </div>
    <div class="card-copy">
      <p>Looking for local restaurants to add to your NextNoms? Use the Discover tool to find the closest restaurants to your current location! Explore new neighborhoods through discovering the local cuisines.</p>
    </div>
  </div>
</div>
