<input id="pac-input" class="controls" type="text" placeholder="Find a Restaurant">
<div id="map"></div>
<% if !@restaurants.nil? %>
  <table id="restaurant_list">
    <tbody>
      <% @restaurants.each do |r| %>
        <tr>
          <td class="restaurant" data-place-id="<%= r.place_id %>"></td>
          <td><%= link_to "✕",  { :controller=>"restaurants", action: :destroy, :id => r.users_restaurants.find_by(user: current_user).id}, method: :delete, data: { confirm: 'Delete this restaurant?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= @key %>&callback=initMap&libraries=places"
    async defer></script>
