 @import "bourbon";
 @import "base/base";
 @import "neat";

 // Widths
$mobile-width: em(480);
$small-tablet-width: em(720);
$large-tablet-width: em(960);
$desktop-width: em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(max-width $mobile-width, 4);
$small-tablet: new-breakpoint(min-width $small-tablet-width max-width $large-tablet-width - 1, 8);
$large-tablet: new-breakpoint(min-width $large-tablet-width max-width $desktop-width - 1, 12);
$tablet: new-breakpoint(min-width $small-tablet-width max-width $desktop-width - 1, 12);
$desktop: new-breakpoint(min-width $desktop-width, 16);

$small-tablet-down: new-breakpoint(max-width $large-tablet-width, 8);
$tablet-down: new-breakpoint(max-width $desktop, 8);

#map {
   width: 60%;
   height: 500px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}

section{
  @include outer-container;
  #map {
    @include span-columns(7);
  }
  table {
    @include span-columns(5);
  }
}
