$small-tablet-width: em(720);

#discover-map {
  background: transparent image-url('ajax-loader.gif') no-repeat center center;
  width: 100%;
  height: 250px;
}

.add-dnom {
  color: white;
  background-color: #b56969;
  border-radius: 5px;
  padding: 4px;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  &:hover {
    color: white;
    background-color: shade(#b56969, 25%);
  }
}
