#discover-map {
  background: transparent image-url('ajax-loader.gif') no-repeat center center;
  width: 100%;
  height: 250px;
}

.discover-results{
  @include outer-container;
  @include span-columns(12);
  .d-restaurant{
    @include span-columns(4);
  }
}
