// Place all the styles related to the identities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration {
  min-height: 100%;
  min-width: 100%;
  color:#22264b;
  background-color: #e8edf3;
  position: absolute;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Lato', sans-serif;
}
.r-container {
  @include outer-container;
  .r-form {
    background-color: rgba(255,255,255,.7);
    border-radius: 7px;
    padding: 10px;
  }
  @include media($small-tablet-width){
    .r-form {
      @include span-columns(6);
      @include shift(3);
    }
  }
}
.new-act-header {
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
}

.r-btn {
  display: block !important;
  margin: 0 auto;
}
