$small-tablet-width: em(720);

#splash-image {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    ),
    image-url('foodontable.jpeg');
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#login-link {
  width: 100%;
  text-align: center;
  a {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    background-color: rgba(0,0,0,0.6);
  }
  a:hover {
    background-color: rgba(0,0,0,0.8);
  }
  @include media($small-tablet-width){
    a {
      background-color: transparent;
      font-size: 36px;
    }
    a:hover {
      background-color: rgba(0,0,0,0.6);
    }
  }
}
