<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to(image_tag("redlogo.png"), root_path, { :class=>"logo" }) %>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- <li class="nav-link"><a href="javascript:void(0)">About Us</a></li> -->
        <li class="nav-link"> Welcome, <strong><%= current_user.name  %></strong> !</li>
        <li class="nav-link"><%= link_to logout_path, method: :delete do %><i class="fa fa-sign-out"></i>Log Out<% end %></li>
      </ul>
    </nav>
  </div>
</header>
